@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 541388 */
/* D90368 */

html,
body {
  color: #F7F4F3;
  height: 100%;
  width: 100%;
}

html{
  background-color: #2E294E;
}